/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require main
*= require mobile
*= require_self
*/
@charset "utf-8";
/*------------------------------------------!
	이시영 Publishing
	Poomda Project CSS
/*-----------------------------------------*/
#main-content{
	width:1100px;
	margin:0 auto;
}
#main-content > article{
	height:487px;
	background:url(../images/main/main-visual.jpg) no-repeat 0 0;
	position:relative;
}
#main-content > article > div{
	font-size:36px;
	color:#fff;
	line-height:1.5;
	position:absolute;
	left:30px;
	bottom:25px;
	letter-spacing:-0.1em;
}
#main-content > article > div > span{
	display:inline-block;
	width:120px;
	font-weight:600;
	text-align:right;
	vertical-align:middle;
	font-size:58px;
	color:#fff831;
	line-height:80%;
	font-family:'dotum', '돋움';
	letter-spacing:0;
}

.main-body >p{
	font-size:20px; 
	margin-top: 50px;
	margin-bottom: 20px;
	}

.main-body{
	padding:0 5px;
}
.main-shelter-list{
	margin:18px 0;
}
.main-shelter-list > section{
	width:250px;
	height:375px;
	float:left;
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border:1px solid #cccccc;
	margin:0 0px 0 30px;
	position:relative;
	z-index:1;
	cursor:pointer;
}
.main-shelter-list > section:first-child{
	margin:0;
}
.main-service-list{
	margin-bottom:40px;
}
.main-service-list > section{
	clear:both;
	margin-bottom:15px;
}
.main-service-list > section > a.main-service-case-1,
.main-service-list > section > a.main-service-case-2,
.main-shelter-list > section > a.main-shelter-count{
	display:block;
	position:absolute;
	width:50px;
	height:54px;
	font-size:14px;
	color:#fff;
	text-align:center;
	background:#00bff3;
	background: rgba(0, 191, 243, 0.7);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
	-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	z-index:2;
	line-height:1;
}
.main-shelter-list > section > a.main-shelter-count{
	top:0px;
	right:11px;
}
.main-service-list > section > a.main-service-case-2 > span,
.main-shelter-list > section > a.main-shelter-count > span{
	content:'';
	display:block;
	width:16px;
	height:16px;
	background:url(../images/main/main-ico.png) no-repeat 0 0;
	margin:8px auto 6px auto;
}
.main-service-list > section > a.main-service-case-2:hover > span,
.main-service-list > section > a.main-service-case-2 > span.on,
.main-shelter-list > section > a.main-shelter-count:hover > span,
.main-shelter-list > section > a.main-shelter-count > span.on{
	background:url(../images/main/main-ico.png) no-repeat 0 -16px;
}
.main-shelter-list > section > a > dl > dt{
	position:relative;
	height:220px;
}
.main-shelter-list > section > a > dl > dt > span{
	position:absolute;
	width:64px;
	bottom:0;
	left:50%;
	margin:0 0 -32px -32px;
	font-size:16px;
	color:#fff;
	text-align:center;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
}
.main-shelter-list > section > a > dl > dt > span.main-shelter-case-1,
.main-shelter-list > section > a > dl > dt > span.main-shelter-case-3{
	background:#121212;
	line-height:1.2;
	padding-top:12px;
	height:52px;
}
.main-shelter-list > section > a > dl > dt > span.main-shelter-case-1{
	background:#121212;
	line-height:1.2;
}
.main-shelter-list > section > a > dl > dt > span.main-shelter-case-2{
	background:#555;
	height:64px;
	line-height:64px;
}
.main-shelter-list > section > a > dl > dt > span.main-shelter-case-3{
	background:#aaa;
}
.main-shelter-list > section > a > dl > dd{
	padding:0 10px;
}
.main-shelter-list > section > a > dl > dd > h2{
	font-size:18px;
	font-weight:600;
	color:#353535;
	margin:36px 0 6px 0;
}
.main-shelter-list > section > a > dl > dd > p{
	font-size:14px;
	color:#353535;
	line-height:1.2;
}
.main-shelter-list > section > a > dl > dd > span{
	border-top:1px solid #ccc;
	display:block;
	width:95%;
	height:40px;
	padding-left:5%;
	line-height:40px;
	font-size:14px;
	color:#353535;
	position:absolute;
	vertical-align:middle;
	bottom:0;
	left:0;
}
.main-shelter-list > section > a > dl > dd > span:before{
	content:'';
	display:inline-block;
	width:16px;
	height:14px;
	background:url(../images/main/main-ico.png) no-repeat -32px -16px;
	vertical-align:middle;
	margin-bottom:2px;
}
.main-shelter-list > section > a > dl > dd > span > strong{
	font-weight:600;
}
.main-service-list > section{
	height:222px;
	position:relative;
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border:1px solid #cccccc;
	z-index:1;
}

.main-service-list > section > a.main-service-case-1{
	left:120px;
}
.main-service-list > section > a.main-service-case-1 > span{
	content:'';
	display:block;
	width:16px;
	height:16px;
	background:url(../images/main/main-ico.png) no-repeat -16px 0;
	margin:8px auto 6px auto;
}
.main-service-list > section > a.main-service-case-1 > span.on,
.main-service-list > section > a.main-service-case-1:hover > span{
	background:url(../images/main/main-ico.png) no-repeat -16px -16px;
}
.main-service-list > section > a.main-service-case-2{
	left:180px;
}
.main-service-list > section > a.main-service-case-3{
	position:absolute;
	right:40px;
	bottom:8px;
	font-size:16px;
	color:#353535;
	z-index:2;
}
.main-service-list > section > a.main-service-case-3 > img{
	display:inline-block;
	width:38px;
	height:38px;
	border:1px solid #ccc;
	border-radius: 5px; 
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin:8px 5px;
	text-align:center;
	vertical-align:middle;
}
.main-service-list > section > a.main-service-case-3:hover:before{
	border:1px solid #51a8f5;
}
.main-service-list > section > a > dl > dt{
	float:left;
}
.main-service-list > section > a > dl > dt > img{
	width:240px;
	height:220px;
}
.main-service-list > section > a > dl > dd{
	float:left;
	position:relative;
	border-right:1px solid #ccc;
}
.main-service-list > section > a > dl > dd > .main-service-tit{
	width:586px;
	padding:20px 30px;
	height:70px;
	border-bottom:1px solid #ccc;
}
.main-service-list > section > a > dl > dd > .main-service-tit > h2{
	font-size:18px;
	font-weight:600;
	color:#353535;
	line-height:1.2;
	margin-bottom:10px;
}
.main-service-list > section > a > dl > dd > .main-service-tit > p{
	font-size:14px;
	color:#999;
	line-height:1.2;
}
.main-service-list > section > a > dl > dd > .main-service-notice{
	padding:15px 30px;

}
.main-service-list > section > a > dl > dd > .main-service-notice > dl > dt > ul > li{
	font-size:14px;
	color:#353535;
	margin-bottom:2px;
}
.main-service-list > section > a > dl > dd > .main-service-notice > dl > dt > ul > li > strong{
	display:inline-block;
	font-weight:600;
	width:85px;
	text-align:left;
}
.main-service-list > section > a > dl > dd > .main-service-notice > dl > dt > ul > li > strong:before{
	content:'';
	display:inline-block;
	width:16px;
	height:16px;
	margin:0 6px 3px 0;
	vertical-align:middle;
}
.main-service-list > section > a > dl > dd > .main-service-notice > dl > dt > ul > li:first-child > strong:before{
	background:url(../images/main/main-ico.png) no-repeat -32px 0;
}
.main-service-list > section > a > dl > dd > .main-service-notice > dl > dt > ul > li:last-child > strong:before{
	background:url(../images/main/main-ico.png) no-repeat -32px -16px;
}
.main-service-list > section > a > dl > dd > .main-service-notice > dl > dd{
	margin-top:8px;
}
.main-service-list > section > a > dl > dd > .main-service-notice > dl > dd > span{
	display:inline-block;
	padding:0px 10px 2px 10px;
	font-size:14px;
	color:#fff;
	background:#999;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	line-height:1.6;
	vertical-align:middle;
}
.main-service-list > section > a > dl > dd > span{
	width:64px;
	font-size:16px;
	color:#fff;
	text-align:center;
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	position:absolute;
	right:-32px;
	top:50%;
	margin:-32px 0 0 0;
	background:#23b7b5;
	line-height:1.2;
	padding-top:12px;
	height:52px;
}
.main-service-list > section > a > dl > dd > span.case-2{
	background:#f67e62;
}
.main-service-list > section > a > dl > dd.main-service-result{
	width:200px;
	border-right:0;
}
.main-service-list > section > a > dl > dd.main-service-result > div{
	text-align:center;
} 
.main-service-list > section > a > dl > dd.main-service-result > div > span{
	display:inline-block;
}
.main-service-list > section > a > dl > dd.main-service-result > div > span.main-service-tracking{
	font-size:30px;
	color:#222222;
	margin:26px 0 10px 0;
}
.main-service-list > section > a > dl > dd.main-service-result > div > span.main-service-joinpeople{
	font-size:16px;
	color:#01adef;
}
.main-service-list > section > a > dl > dd.main-service-result > div > span.main-service-joinpeople:before{
	content:'';
	display:inline-block;
	width:16px;
	height:15px;
	background:url(../images/main/main-ico.png) no-repeat -48px 0;
	vertical-align:middle;
	margin-bottom:2px;
}
.main-service-list > section > a > dl > dd.main-service-result > div > span.main-service-people{
	font-size:24px;
	font-weight:600;
	color:#01adef;
}
.main-event{
	width:100%;
}
.main-event > section{
	height:170px;
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	width:535px;
	padding:15px;
	border:1px solid #dadada;
}
.main-event > section > div:first-child {
	position:relative;
	border-bottom:1px solid #dadada;
	margin-bottom:10px;
}
.main-event > section > div > h3{
	font-size:32px;
	font-weight:600;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	letter-spacing:-0.05em;
	line-height:1.2;
}
.main-event > section > div:first-child > a{
	font-size:11px;
	color:#a9a9a9;
	font-weight:600;
	font-family:"arial";
	position:absolute;
	right:0;
	bottom:6px;
	line-height:1;
	letter-spacing:0.05em;
}
.main-event > .main-event-box-1 > div > h3{
	color:#2a5eb8;
}
.main-event > .main-event-box-1{
	float:left;
}
.main-event > .main-event-box-2 > div > h3{
	color:#40953a;
}
.main-event > .main-event-box-2{
	float:right;
}
.main-event > .main-event-box-2 > a{
	display:inline-block;
	font-size:12px;
	color:#40953a;
	position:relative;
	padding-left:56px;
	margin-bottom:14px;
}
.main-event > .main-event-box-2 > a:before{
	content:'';
	display:inline-block;
	width:45px;
	height:45px;
	background:url(../images/main/main-ico.png) no-repeat -172px 0;
	position:absolute;
	left:0;
	top:0;
    box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	border:1px solid #2c8726;
}
.main-event > .main-event-box-2 > a > span{
	color:#acacac;
}
.main-event > .main-event-box-2 > p{
	font-size:12px;
	color:#666;
	line-height:1.4;
}
/* clear */
.main-event:after,
.main-shelter-list:after,
.main-service-list > section > a > dl:after,
.main-service-list > section:after{
	content:'';
	display:block;
	clear:both; 
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	#main-content > article > div{
		bottom:32px;
	}
	#main-content > article > div > span{
		font-weight:500;
		letter-spacing:0.02em;
		vertical-align:text-top;
	}
}