@charset "utf-8";

/* Web Font Setting */

@font-face {
	font-family: "Nanum Gothic";
	font-style: normal;
	font-weight: 400;
	src: url(font/NanumGothic-Regular.eot);
	src: url(font/NanumGothic-Regular.eot?#iefix) format("embedded-opentype"),
		 url(font/NanumGothic-Regular.woff2) format("woff2"),
		 url(font/NanumGothic-Regular.woff) format("woff"),
		 url(font/NanumGothic-Regular.ttf) format("truetype");
}
@font-face {
	font-family: "Nanum Gothic";
	font-style: normal;
	font-weight: 600;
	src: url(font/NanumGothic-Bold.eot);
	src: url(font/NanumGothic-Bold.eot?#iefix) format("embedded-opentype"),
		 url(font/NanumGothic-Bold.woff2) format("woff2"),
		 url(font/NanumGothic-Bold.woff) format("woff"),
		 url(font/NanumGothic-Bold.ttf) format("truetype");
}
@font-face {
	font-family: "Nanum Gothic";
	font-style: normal;
	font-weight: 800;
	src: url(font/NanumGothic-ExtraBold.eot);
	src: url(font/NanumGothic-ExtraBold.eot?#iefix) format("embedded-opentype"),
		 url(font/NanumGothic-ExtraBold.woff2) format("woff2"),
		 url(font/NanumGothic-ExtraBold.woff) format("woff"),
		 url(font/NanumGothic-ExtraBold.ttf) format("truetype");
}

/*------------------------------------------!
	* reset *
/*-----------------------------------------*/

html, body, div, span, object, iframe,
 h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	background:transparent;
	font-size:100%;
	font-weight:normal;
}
h1, h2{
	margin:0;
	padding:0;
	border:0;
	outline:0;
	background:transparent;
	font-size:100%;
	font-weight:normal;
}

body {font-size:13px; line-height: 1.6; font-family:"Apple Gothic","맑은고딕","Malgun Gothic","dotum","돋움","Arial","verdana", gulim; color:#666;}

ol, ul {list-style: none;}

blockquote, q {quotes: none;}

blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}

ins {text-decoration: none;}

table {border-spacing: 0;border-collapse: collapse;}

caption {font-size:0;}

a {margin:0; padding:0; font-size:100%; background:transparent; color:inherit; text-decoration:none;}

address, em {font-style:normal;}

label {cursor:pointer;}

legend {font-size:0}

input,select {margin:0; padding:0; vertical-align:middle; font-family:"돋움", dotum; font-size:13px; line-height:normal;}

textarea {resize:none; overflow:hidden; font-family:"돋움", dotum; font-size:13px;}

button {margin:0; padding:0; border:0; background:transparent; cursor:pointer; font-family:"돋움", dotum; text-align:center;} 

hr {display:none;}

span{vertical-align:top}

header, hgroup, section, nav, article, footer{
	display:block;
}

/*------------------------------------------!
	* common *
/*-----------------------------------------*/

.clearFix:after {content:''; display:block; clear:both;}
.bold {font-weight:600}


/*------------------------------------------!
	* common layout *
/*-----------------------------------------*/
html,body {height:100%;}
body {overflow-y:scroll;}


/*옵션리스트*/
.custom_input input {border:0; color:#000; font-family:Nanum Gothic;}
.custom_input {position:relative; display:inline-block; border:1px solid #ccc;  }
.custom_input >ul {position:absolute; top:52px; left:-2px; display:none; z-index:500;overflow-x: hidden;   width: 100%;}
.custom_input button {width:15px; height:18px; font-size:0; background:url(../images/common/bullet_1.gif) no-repeat 0 ;vertical-align:middle }
.option_li{ max-height:209px;overflow-y:auto; border:1px solid #ccc; background:#fff; font-size:16px;}
.option_li li {padding:5px 0 5px 10px; color:#9e9e9e; cursor:pointer; background:#fff; }
.option_li li:hover {background:#f1f1f1}
.option_li li {padding:8px 0 8px 10px; border-bottom:1px solid #ccc; color:#9e9e9e; cursor:pointer;}
.option_li li:last-child {border-bottom:none;}






/*h1영역*/
#sub_content >div:first-child {width:100%; height:140px; border-bottom:1px solid #ccc;}
#sub_content >div:first-child h1 ,#sub_content >div:first-child p {width:1100px; margin:0 auto; text-align:right; padding:35px 60px 0 0; font-size:23px;}
#sub_content >div:first-child p {  padding:0 60px 0 0; color:#bbb; line-height:1; }
#sub_content >div > p:first-child {text-align:center; font-size:20px; margin:65px 0 50px 0; color:#989898} 


#sub-content > div:first-child {width:100%; height:140px; border-bottom:1px solid #ccc;}
#sub-content > div:first-child > div{
	padding-right:60px;
}
#sub-content > div:first-child > div h1 ,#sub-content > div:first-child > div  p {width:1100px; margin:0 auto; text-align:right; padding:35px 60px 0 0; font-size:23px;}
#sub-content >div:first-child > div p {  padding:0 60px 0 0; color:#bbb; line-height:1; }
#sub-content > div:first-child > div p:first-child{text-align:center; font-size:20px; margin:65px 0 50px 0; color:#989898} 


.sponsor-progress{
	border:1px solid #cccccc;
	margin-bottom:60px;
}
.sponsor-progress > ul > li{
	float:left;
	width:33.333333%;
	height:58px;
	line-height:56px;
	font-size:16px;
	font-weight:600;
	color:#999;
	text-align:center;
	border-left:1px solid #cccccc;
	margin-left:-1px;
	position:relative;
}
.sponsor-progress > ul > li.on{
	color:#fff;
	background:#01adef;
}
.sponsor-progress > ul > li:after{
	content:'';
	display:inline-block;
	width:25px;
	height:25px;
	background:#fff url(../images/sponsor/sponsor-ico.png) no-repeat -62px -23px;
	position:absolute;
	right:0;
	top:50%;
	margin-top:-12.5px;
	margin-right:-12.5px;
	z-index:2;
	-webkit-border-radius:100%;
	-moz-border-radius:100%;
	border-radius:100%;
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	-webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.3);
}
.sponsor-progress > ul > li:last-child:after{
	display:none;
}
.sponsor-progress > ul > li:before{
	content:'';
	display:inline-block;
	width:16px;
	height:16px;
	vertical-align:middle;
	background:url(../images/sponsor/sponsor-ico.png) no-repeat 0px 0px;
	margin:0 2px 2px 0;
}
.sponsor-progress > ul > li.on:before{
	background:url(../images/sponsor/sponsor-ico.png) no-repeat 0px -16px;
}
.sponsor-progress > ul:after{
	content:'';
	display:block;
	clear:both;
}
/* 인풋 폼 */
.service-input{
	width:100%;
}
.service-input:after{
	content:'';
	display:block;
	clear:both;
}
.service-input > .input-img{
	position:relative;
	float:left;
}
.service-input > .input-img > a{
	display:block;
	width:32px;
	height:32px;
	background:url(./common/poomda_img2.png) no-repeat -8px -44px;
	position:absolute;
	top:16px;
	left:10px;
}
.service-input > .input-img > input{
	opacity: 0;
    filter:alpha(opacity=0);
    -moz-opacity:0;
	display:block;
	width:32px;
	height:32px;
	position:absolute;
	top:16px;
	left:10px;
	z-index:999;
	cursor:pointer !important;
}
.service-input > .input-img > img{
	border:1px solid #ccc;
}
.service-input > .input-form{
	width:602px;
	float:right;
}
.input-form select{
	width:160px;
	padding:9px 13px 13px 13px;
	line-height:1.4;
    margin:0;
    background: #fff;
	font-size:14px;
	font-family:"Apple Gothic","맑은고딕","Malgun Gothic","dotum","돋움","Arial","verdana", gulim;
    color:#353535;
    border:1px solid #ccc;
    outline:none;
    display: inline-block;
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    cursor:pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.input-form select.all-select{
	width:98px;
}
.input-form label:first-child{
	margin-left:0px;
}
.input-form label select:focus,
.input-form label select:hover{
    border:1px solid #01adef;
	box-shadow:0 0 0 1px #01adef;
}

.input-form label{
	position:relative;
	margin-left:10px;
}
.input-form label:before{
    content:'';
    right:7px;
	top:-4px;
    width:32px;
	height:30px;
    background:#fff url(../images/common/arrow-down-off.gif) no-repeat 0 center;
    position:absolute;
    pointer-events:none;
    display:block;
}
.input-form label:focus:before,
.input-form label:hover:before{
    background:#fff url(../images/common/arrow-down-on.gif) no-repeat 0 center;
}
.input-form td input{
	width:474px;
	height:27px;
	margin-left:10px;
	padding:9px 13px 13px 13px;
	font-size:14px;
	font-family:"Apple Gothic","맑은고딕","Malgun Gothic","dotum","돋움","Arial","verdana", gulim;
    color:#353535;
    border:1px solid #ccc;
    cursor:pointer;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.input-form td input:first-child{
	margin-left:0px;
}
.input-form .calendar-td input{
	width:158px;
}
.input-form .place-td input{
	width:186px;
}
.input-form table th{
	font-size:18px;
	font-weight:500;
	color:#353535;
	text-align:left;
	vertical-align:top;
	padding-top:12px;
}
.input-form table th > span{
	color:#ff2121;
}
.input-form table td{
	padding-bottom:20px;
}
.input-form table td.target-td{
	position:relative;
	padding-bottom:40px;
}
.input-form table td.target-td input{
	color:#aaaaaa;
}
.input-form table .target-td > a{
	display:block;
	width:70px;
	height:30px;
	line-height:27px;
	font-size:16px;
	text-align:center;
	background:#01adef;
	color:#fff;
	position:absolute;
	right:10px;
	top:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.input-form table td.calendar-td{
	position:relative;
}
.input-form table .calendar-td > a{
	display:block;
	width:16px;
	height:16px;
	background:url(/img/common/calendar.png) no-repeat center center #01adef;
	padding:7px;
	position:absolute;
	left:145px;
	top:10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.input-form table .active-etc > a{
	display:inline-block;
	font-size:14px;
	color:#fff;
	text-align:center;
	background:#01adef;
	padding:12px 20px;
	margin-right:2px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.input-form table .active-etc > p{
	margin-top:5px;
	font-size:12px;
	color:#353535;
}
.input-form table .active-introduce > textarea{
	width:480px;
	max-width:480px;
	height:160px;
	max-height:160px;
	padding:10px;
	border:1px solid #ccc;
	font-size:14px;
	overflow:auto;
}
.input-form table .active-introduce > p{
	margin-top:5px;
	text-align:right;
	font-size:12px;
	color:#353535;
}
.input-form table .active-introduce > p > span.gray-text{
	color:#999999;
}
.input-form table .active-introduce > p > span.red-text{
	color:#ff2121;
}


/*------------------------------------------!
	* join *
/*-----------------------------------------*/


 /* join */
 #join {width:1100px;margin:auto; text-align:left;}
 #join .sub_tab div{height:60px;border:1px solid #ccc;width:364px;display:inline-block;margin:60px 0;font-size:16px;font-weight:bold;position:relative;}
 #join .sub_tab div:nth-child(2),#join .sub_tab div:nth-child(3) {margin-left:-5px;}
 #join .sub_tab div.tab_fin {color:#01adef;background-color:#fff;}
 #join .sub_tab div.tab_progress {color:#fff;background-color:#01adef;}
 #join .sub_tab div.tab_next {color:#999;background-color:#fff;}
 #join .sub_tab div.tab_fin a{color:#01adef;left:120px;}
 #join .sub_tab div.tab_progress a{color:#fff;left:120px;}
 #join .sub_tab div.tab_next a{color:#999;left:154px;}
 #join .sub_tab div.tab_fin a, #join .sub_tab div.tab_progress a, #join .sub_tab div.tab_next a{display:inline-block;position:absolute;top:21px;}
 #join .sub_tab div.tab_fin a span{background:url(../img/poomda_img.png)no-repeat -327px 0px;display:inline-block;width:16px;height:16px;margin-right:8px;}
 #join .sub_tab div.tab_progress a span{background:url(../img/poomda_img.png)no-repeat -343px 0px;display:inline-block;width:16px;height:16px;margin-right:8px;}
 #join .sub_tab div.tab_next a span{background:url(../img/poomda_img.png)no-repeat -359px 0px;display:inline-block;width:16px;height:16px;margin-right:8px;}
 span.bar_next{position:absolute;background:url(../img/poomda_img.png)no-repeat -282px -48px;display:inline-block;width:24px;height:26px;right:-12px;top:16px;z-index:30;}
 
 #join .info_wrap{width:800px; padding-left:160px;}
 #join .info_wrap .info_img{float:left;width:420px;}
 #join .info_wrap .info_txt{float:right;width:640px;}
 #join .info_wrap .join_last{font-size:24px; text-align:center; font-weight:bold;}
 .img {border:1px solid #ccc;display:inline-block;}
 .large_img{width:418px;height:450px;background:url(../img/poomda_img.png)no-repeat 0px -80px;margin-bottom:20px;}
 .small_img{width:200px;height:150px;background:url(../img/poomda_img.png)no-repeat -420px -80px;}
 #join .info_img div:nth-child(2){margin-right:11px;}
 #join .info_img div{position:relative;}
 #join .info_img div button.attach_photo_btn{position:absolute;top:10px;left:10px;background:url(../img/poomda_img.png)no-repeat -282px -16px;width:32px;height:32px;}
 #join .info_btn{margin:80px auto 120px auto;width:1005px;height:62px; text-align:center;}
 #join .info_btn a{display:inline-block;border-radius:30px;background:#ccc;color:#fff;font-size:24px;padding:24px 100px;}
 #join .info_btn a:nth-child(2){background:#1c81db;margin-left:20px;}
 #join .info_btn a:hover{background:#aaa;}
 #join .info_btn a:hover:nth-child(2){background:#0166be;}
 
 .form_wrap{position:relative;display:inline-block;}
 .form_wrap p{width:160px; text-align:right; font-size:18px; margin-right:10px; float:left;margin-top:15px;}
 .form_wrap span.point_tit{font-size:16px; color:#f26d7d;}
 
 button.close_lyr {position:absolute; top:20px; right:25px;width:33px; height:33px; background:url(./common/close_btn.png) no-repeat; font-size:0;}
.message_layer {display:none;position:absolute;top:100px ; left:32%;width:660px ; height:490px; background:#fff; border-radius:10px; z-index:300}
.message_layer> span:first-child {display:block;background:#0054a6; height:70px; color:#fff; font-size:24px; padding:0 0 0 20px; line-height:3; border-radius:10px 10px 0 0}
.message_layer form {padding:30px 0 0 23px}
.message_layer form >span:first-child {display:block; font-size:18px;}
.message_layer form >span em {color:#01adef}
.message_layer form textarea {margin:20px 0 0 0;display:block; width:600px; height:150px; border-radius:5px}
.message_layer span.txt_count {display:block; text-align:right; padding:7px 30px 0 0}
.message_layer form button[type=submit],input[type=submit]  {display:block; margin:40px auto 0;width:280px; height:60px; font-size:24px; font-family:Malgun-Gothic; background:#01adef ; color:#fff;border-radius:8px}
div.back {position:absolute;background:rgba(0,0,0,0.6);top:0; left:0; width:100%; z-index:200 }

/*------------------------------------------!
	* profile Card *
/*-----------------------------------------*/
.volunteer h1 {margin:50px 0 20px 0;padding:0 0 0 5px; font-size:16px;}
.volunteer >div {border:1px solid #ccc; margin-left:5px}
.volunteer .vlt_pic {margin:3px;border-radius:3px;display:inline-block ;text-align:center; width:150px; height:220px; padding:20px; vertical-align:top;background:url(./common/noimage-big.jpg) no-repeat;}
.volunteer .vlt_pic img {display:block; width:150px; height:180px; }
.volunteer .vlt_pic button { width:150px; height:30px; margin:10px 0 0 0;background:#00aeef; color:#fff; font-family:Malgun-Gothic; font-size:16px; border-radius:5px}
.volunteer .vlt_pic input[type=file]{display: none;}
.volunteer table {display:inline-block; width:380px; margin:10px 0 0 5px}
.volunteer table th {width:95px; text-align:left; vertical-align:top; padding:10px 0}
.volunteer table td {padding:10px 0; font-size:14px; color:#353535}
.volunteer table td input[type=text], textarea{    border: 1px solid #ccc;    border-radius: 4px;    font-size: 14px;    color: #353535;    padding: 5px;width: 280px;}
.volunteer table td textarea{min-height:70px;}
.volunteer .vlt_pic .imgAddBtn{display: block;width: 34px;height: 32px;background: url('./main/poomda_img.png') no-repeat -280px -16px; font-size: 0;text-indent: -9999px}

.img_cover{
	position: absolute;
    top: 0;
    z-index: -1;
    height: 222px;
    width: 248px;
    overflow: hidden;
} 
.question_layer textarea{
	    display: block;
    width: 480px;
    height: 160px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.question_layer .textLength{
    display: block;
    width: 495px;
    text-align: right;
}
.mypage_tabs{margin:50px 0px;}
.width50p{width: 50%;}